@font-face {
  font-family: 'Product Sans1';
  src: url('fonts/Product Sans Regular.ttf')  format('truetype'); 
}
@font-face {
  font-family: 'Product Sans2';
  src: url('fonts/Product Sans Bold.ttf')  format('truetype'); 
}

body {
	font-family: 'Product Sans1', sans-serif;
	background: 
		url('img/raichu.gif');
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: cover;
	background-color: #333;
	color: white;
	font-size: 20px;
}

a, a:hover, a:focus, a:active, a:visited {
	text-decoration: none;
	color: #fff;
}

h1.hello {
	margin-top: 270px;
}

h1.hello, h1.timing {
	margin-bottom: 0px;
	font-size: 3.2rem;
}

.icons img {
	position: relative;
	height: 20px;
	width: auto;
	top: -2px;
}	
.icons a:not(:last-of-type) {
	padding-right: 20px;	
}	
